.App {
  margin: 10px;
  padding: 10px;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.left-container {

padding: 10px;
/* display: flex; */
width: 80%;
}

.right-container {
  /* background-color: rgb(7, 133, 211); */
  background-image: url(./component/displayInfo/imgToDis.jpg);
  background-repeat: no-repeat;
  background-size: 400px;
  /* background-image: linear-gradient(110deg, rgb(7, 133, 211), rgb(220, 90, 90), rgb(55, 149, 55)); */
  width: 18%;
  height: 95%;
  position: fixed;
  right: 10px;
  padding: 0 5px;
}

#newsheading {
  text-align: center;
  font-family: inherit;
  color: white;
  margin: 0;
  padding-bottom: 5px;
}

#w-info {
  background-image: linear-gradient(90deg, rgb(44, 44, 223), lightsalmon);
  border-radius: 5px;
  text-align: center;
  color: white;
}

.btnInfo {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-image: linear-gradient(90deg, rgb(44, 44, 223), lightsalmon);
  padding: 10px;
  border-radius: 5px;
}

#drop {
  display: flex;
    justify-content: space-between;
}